@charset "utf-8";
/*
   Author: Andrew Luehrs
   Date:   12/2/18

   Filename: ar_styles.css

	General styles.
*/



html {
	height: 100%;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

body {
	position: absolute;
	
	width: 100%;
	min-width: 720px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url(ar_background.jpg);
	background-attachment: fixed;
	background-position: center bottom;
}

img#hordeRacer {
	position: relative;
}

img#allyRacer {
	position: relative;
}


img#victoryBanner {
	position: absolute;
	top: 200px;
	left: 25%;
}
 
img#resource {
	position: absolute;
	right: 0px;
	top: 300px;
	
}

img#startgate {
	position: relative;
	left: 45%;
}

footer {
	position: relative;
	bottom: 0px;
	text-align: center;
	color: lightgray;
}